//- index.jade
doctype html
html
  head
    style(type='text/css', media='screen')
      include ../work/style.css
  body
    .polarity
      header.polarity-header
        h1= title
      article
        .row
          .side
            h2 Action Steps
            != leftPole.actionSteps
          .middle
            .top-block
              span.polarity-term= gps
            .row.top-row
              .left-pro
                != leftPole.positiveResults
              .right-pro
                != rightPole.positiveResults
          .side
            h2 Action Steps
            != rightPole.actionSteps
        .polarity-box.left-item
          span.polarity-term= leftPole.title
        .polarity-box.and-item
          span.and-term and
        .polarity-box.right-item
          span.polarity-term= rightPole.title
        .row
          .side
            h2
              span.early-warning
              | Early Warnings
            != leftPole.earlyWarnings
          .middle
            .row.bottom-row
              .left-con
                != leftPole.negativeResults
              .right-con
                != rightPole.negativeResults
            .bottom-block
              span.polarity-term= deeperFear
          .side
            h2
              span.early-warning
              | Early Warnings
            != rightPole.earlyWarnings
      footer.polarity-footer
